<?xml version="1.0"?>
<config>
    <modules>
        <EB_Override>
            <version>0.0.1</version>
        </EB_Override>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <product>EB_Override_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>
